<section class="advertisement">
    <div class="container marquee">
        <div class="marquee__inner">
            <h3 class="advertisement-title marquee_title">
                <span>Master</span>
                your photography
                <span>skills with us!</span>
            </h3>
            <h3 class="advertisement-title marquee_title">
                <span>Master</span>
                your photography
                <span>skills with us!</span>
            </h3>
        </div>
    </div>
</section>