<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo" href="">
        <svg class="header-icon-logo" width="127" height="20">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#section-about-us">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#section-our-courses">Our courses</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#section-our-mentors">Our mentors</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#section-reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#section-contacts">Contacts</a>
        </li>
      </ul>
      <div class="header-buttons">
        <a class="header-button-camera" href="#section-sign-up">
          <svg class="header-icon-camera" width="16" height="16">
            <use href="/img/icons.svg#icon-camera"></use>
          </svg>
        </a>
        <button class="header-button-menu" type="button">
          <svg class="header-icon-menu" width="32" height="22">
            <use href="/img/icons.svg#icon-navi"></use>
          </svg>
        </button>
      </div>
    </nav>
    <a class="header-button-sign-up">Sign up</a>
  </div>
  <div class="backdrop">
    <div class="mob-menu">
      <button class="menu-button-close" type="button">
        <svg class="meno-icon-close" width="18" height="18">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#section-about-us">About us</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#section-our-courses">Our courses</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#section-our-mentors">Our mentors</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#section-reviews">Reviews</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#section-contacts">Contacts</a>
        </li>
      </ul>

      <picture>
        <source srcset="
            img/header-menu-tablet@1x.jpg 1x,
            img/header-menu-tablet@2x.jpg 2x
          " media="(min-width:768px)" />
        <source srcset="
            img/header-menu-mobile@1x.jpg 1x,
            img/header-menu-mobile@2x.jpg 2x
          " media="(min-width:320px)" />
        <img src="img/header-menu-tablet@1x.jpg" alt="Camera is positioned diagonally" width="100%" class="menu-img" />
      </picture>
    </div>
  </div>
</header>