<div class="background-header-hero">
    <section class="hero">
        <div class="container">
            <div class="hero-cont">
                <h1 class="hero-title">Discover the magic of <span>photography</span> in our school</h1>
                <p class="hero-text">Our photography school offers an unforgettable journey,
                    where you can learn the basics of composition,
                    master technical skills, translate your unique ideas.
                </p>
                <div class="container-hero-users">


                    <!-- Тут айди написать нужно -->


                    <a href="#section-reviews" class="hero-student">

                        <div class="hero-images">
                            <picture>
                                <source srcset="/img/hero-student1@1x.png 1x, /img/hero-student1@2x.png 2x" />
                                <img src="/img/hero-student1@1x.png" alt="small avatar user 1" width="44" height="44" />
                            </picture>
                            <picture>
                                <source srcset="/img/hero-student2@1x.png 1x, /img/hero-student2@2x.png 2x" />
                                <img src="/img/hero-student2@1x.png" alt="small avatar user 1" width="44" height="44" />
                            </picture>
                            <picture>
                                <source srcset="/img/hero-student3@1x.png 1x, /img/hero-student3@2x.png 2x" />
                                <img src="/img/hero-student3@1x.png" alt="small avatar user 1" width="44" height="44" />
                            </picture>
                        </div>
                        <div class="hero-students">
                            <p class="hero-users-text">Our happy students</p>
                            <svg class="hero-item-arrow" width="18" height="8.66">
                                <use href="/img/icons.svg#icon-vector-right"></use>
                            </svg>
                        </div>

                    </a>
                    <div class="hero-reviews">
                        <div class="hero-rectangle">
                            <svg class="hero-item-star" width="20" height="20">
                                <use href="/img/icons.svg#icon-star"></use>
                            </svg>
                        </div>
                        <div class="hero-reviews-text-poin">
                            <p>Reviews</p>
                            <p class="hero-points-number-text">+1500</p>
                        </div>
                    </div>
                </div>
                <div class="hero-div-for-photouser">
                    <picture>
                        <source srcset="/img/hero-desktop@1x.png 1x,/img/hero-desktop@2x.png 2x"
                            media="(min-width:1280px)" width="397" />
                        <source srcset="/img/hero-tablet@2x.png 1x, /img/hero-tablet@2x.png 2x"
                            media="(min-width:768px)" width="393" />
                        <source srcset="/img/hero-mobile@1x.png 1x, /img/hero-mobile@2x.png 2x"
                            media="(min-width:375px)" width="259" />
                        <source srcset="/img/hero-mobile@1x.png 1x, /img/hero-mobile@2x.png 2x"
                            media="(min-width:320px)" width="259" />
                        <img src="/img/hero-desktop@1x.png" alt="photo student" width="1440" />
                    </picture>
                </div>
            </div>
        </div>
    </section>
</div>