<section class="our-mentors">
  <div class="container our-mentors-cont">
    <h2 class="our-mentors-title">
      Our <span class="logo-span">Mentors</span>
    </h2>
    <ul class="our-mentors-list">
      <li class="our-mentors-hero">
        <img
          src="../img/mentors1@1x.png"
          alt="photo-frontend-developer"
          width="180"
          height="180"
          class="our-mentors-img"
        />
        <div class="container-our-mentors">
          <h3 class="our-mentors-hero-name">Emilia Smith</h3>
          <p class="our-mentors-hero-proff">1.5 years of experience</p>
        </div>
      </li>
      <li class="our-mentors-hero">
        <img
          src="../img/mentors2@1x.png"
          alt="photo-frontend-developer"
          width="180"
          height="180"
          class="our-mentors-img"
        />

        <div class="container-our-mentors">
          <h3 class="our-mentors-hero-name">Alex Lebedev</h3>
          <p class="our-mentors-hero-proff">3.5 years of experience</p>
        </div>
      </li>
      <li class="our-mentors-hero">
        <img
          src="../img/mentors3@1x.png"
          alt="photo-frontend-developer"
          width="180"
          height="180"
          class="our-mentors-img"
        />

        <div class="container-our-mentors">
          <h3 class="our-mentors-hero-name">Mia Dubrovska</h3>
          <p class="our-mentors-hero-proff">2.0 years of experience</p>
        </div>
      </li>
      <li class="our-mentors-hero">
        <img
          src="../img/mentors4@1x.png"
          alt="photo-frontend-developer"
          width="180"
          height="180"
          class="our-mentors-img"
        />

        <div class="container-our-mentors">
          <h3 class="our-mentors-hero-name">Eliot Kovalev</h3>
          <p class="our-mentors-hero-proff">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
