<section class="sign-up" id="section-sign-up">

    <div class="container">

        <div class="wrap-sign-up">
            <div class="wrap-text">
                <h2 class="sign-up-title">Sign <span class="sign-up-title-end">Up</span></h2>

                <p class="sign-up-text">Please use the form below to contact us. Enter your name, email, and
                    message and we'll get back to you shortly.</p>

                <form class="sign-up-form">

                    <input type="text" name="user-name" pattern="[A-Za-z]{6,}" placeholder="Enter your name" required
                        class="sign-up-input">

                    <input type="email" name="user-email" pattern="[A-Za-z0-9]{6,}" placeholder="Enter your email"
                        required class="sign-up-input">

                    <textarea name="user-message" id="user-message" placeholder="Message"
                        class="sign-up-textarea"></textarea>


                    <button type="submit" class="sign-up-btn">Send</button>


                    <p class="sign-up-last-text">By clicking on “Send” button, you agree to our <a href=""
                            class="sign-up-privacy">Privacy Policy,</a>
                        and allow Promodo to use this information for marketing purposes.</p>
                </form>
            </div>


            <div class="wrap-image">

                <div class="sign-up-lens">
                    <div class="sing-up-div-for-shadow">
                    </div>
                    <picture class="sign-up-lens-shadow">
                        <source srcset="/img/sign_up-lens1440@1x.png 1x, /img/sign_up-lens1440@2x.png 2x"
                            media="(min-width:1440px)" />
                        <source srcset="/img/sign_up-lens1280@1x.png 1x, /img/sign_up-lens1280@1x.png 2x"
                            media="(min-width:1280px)" />
                        <img src="/img/sign_up-lens1280@1x.png" alt="lens" width="163" height="154"
                            class="sign-up-img-lens">

                    </picture>

                </div>

                <div class="sign-up-camera">

                    <picture>
                        <source srcset="/img/sign_up-camera1440@1x.png 1x, /img/sign_up-camera1440@2x.png 2x"
                            media="(min-width:1440px)" />
                        <source srcset="/img/sign_up-camera1280@1x.png 1x, /img/sign_up-camera1280@2x.png 2x"
                            media="(min-width:1280px)" />
                        <img src="/img/sign_up-camera1280@1x.png" alt="camera" width="254" height="313"
                            class="sign-up-img-camera">
                    </picture>

                </div>

            </div>

        </div>
    </div>

</section>