<section class="signUp" id="#section-sign-up">

    <div class="container">

        <div class="wrap-signUp">
            <div class="wrap-text">
                <h2 class="signUp-title">Sign <span class="signUp-title-end">Up</span></h2>

                <p class="signUp-text">Please use the form below to contact us. Enter your name, email, and
                    message and we'll get back to you shortly.</p>

                <form class="signUp-form">

                    <input type="text" name="user-name" pattern="[A-Za-z]{6,}" placeholder="Enter your name" required
                        class="signUp-input">

                    <input type="email" name="user-email" pattern="[A-Za-z0-9]{6,}" placeholder="Enter your email"
                        required class="signUp-input">

                    <textarea name="user-message" id="user-message" placeholder="Message"
                        class="signUp-textarea"></textarea>


                    <button type="submit" class="signUp-btn">Send</button>


                    <p class="signUp-last-text">By clicking on “Send” button, you agree to our <a href=""
                            class="signUp-privacy">Privacy Policy,</a>
                        and allow Promodo to use this information for marketing purposes.</p>
                </form>
            </div>


            <div class="wrap-image">

                <div class="signUp-lens">

                    <picture>
                        <source srcset="../img/sign_up-lens1440@1x.png 1x, ../img/sign_up-lens1440@2x.png 2x"
                            media="(min-width:1440px)" />
                        <source srcset="../img/sign_up-lens1280@1x.png 1x, ../img/sign_up-lens1280@1x.png 2x"
                            media="(min-width:1280px)" />
                        <img src="../img/sign_up-lens1280@1x.png" alt="lens" width="163" height="154"
                            class="signUp-img-lens">

                    </picture>

                </div>

                <div class="signUp-camera">

                    <picture>
                        <source srcset="../img/sign_up-camera1440@1x.png 1x, ../img/sign_up-camera1440@2x.png 2x"
                            media="(min-width:1440px)" />
                        <source srcset="../img/sign_up-camera1280@1x.png 1x, ../img/sign_up-camera1280@2x.png 2x"
                            media="(min-width:1280px)" />
                        <img src="../img/sign_up-camera1280@1x.png" alt="camera" width="254" height="313"
                            class="signUp-img-camera">
                    </picture>

                </div>

            </div>

        </div>
    </div>

</section>

</main>
<footer></footer>

</body>

</html>