.footer {
    font-size: 14px;
    background-color: #121212;
    background-size: cover;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    height: 331px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.footer-svg {
    fill:#FFFFFF;
}

.footer-address {
    display: inline-flex;
    height: 46px;
    flex-direction: column;
    justify-content: space-between;
}

.footer-address-link {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    text-wrap: nowrap;
    font-size: 14px;
}

.footer-links {
    display: inline-flex;
    line-height: 1.29;
}

.footer-social,
.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-social-link,
.footer-menu-link {
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-input {
    height: 60px;
    border: none;
    border-radius: 12px;
    background-color: #FFF;
    padding-left: 18px;
    font-size: 16px;
}

.footer-input:focus {
    outline: none;
}

.footer-input::placeholder {
    font-size: 16px;
    color: #121212;
    opacity: 0.7;
}

.footer-form,
.footer-end {
    display: flex;
    justify-content: space-between;
}

.footer-btn {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    background-color: #1D1D1D;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    line-height: 0.24; 
    transition: 250ms ease-in-out;
}

.footer-btn:hover {
    background-color: #171717;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        background-image: url(../img/footer-background-mobile@2x.png);
        width: 100%;
        height: 535px;
    }

    .container {
        max-width: 375px;
        padding: 0 20px;
    }

    .footer-input {
        width: 267px;
    }

    .footer-logo {
        margin-top: 40px;
        margin-bottom: 16px;
    }
    
    .footer-links {
        padding-top: 40px;
        margin-bottom: 75px;
        gap: 40px;
    }
    
    .footer-social,
    .footer-menu {
        gap: 14px;
    }
    
    .footer-form {
        gap: 8px;
    }
    
    .footer-end {
        padding-top: 40px;
        font-size: 12px;
        line-height: 1.3;
        
    }

    .footer-agreement {
        width: 148px;
    }
    
    .footer-rights {
        width: 116px;
    }

    .footer-end p {
        font-size: 12px;
        letter-spacing: -0.02em;
        line-height: 1.28;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .footer {
        background-image: url(../img/footer-background-tablet@2x.png);
        width: 100%;
    }

    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .footer-logo {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .footer-svg {
        width: 123px;
        height: 16px;
    }

    .footer-links {
        gap: 25px;
        margin-left: 58px;
        margin-right: 59px;
    }

    .footer-social,
    .footer-menu {
        gap: 14px;
    }

    .footer-top {
        display: flex;
        margin-top: 50px;
        margin-bottom: 74px;
    }

    .footer-input {
        width: 178px;
    }

    .footer-form {
        gap: 8px;
    }

    .footer-end {
        padding-top: 0;
        gap: 399px;
        line-height: 1.3;
    }

    .footer-agreement {
        width: 172px;
    }

    .footer-rights {
        width: 134px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .footer {
        background-image: url(../img/footer-background-desktop-1280@2x.png);
        width: 100%;
    }

    .container {
        max-width: 1280px;
        padding: 0 100px;
    }

    .footer-logo {
        margin-bottom: 25px;
    }

    .footer-svg {
        width: 123px;
        height: 16px;
    }

    .footer-links {
        gap: 50px;
        margin-left: 285px;
        margin-right: 135px;
    }

    .footer-social,
    .footer-menu {
        gap: 20px;
    }

    .footer-top {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 0;
    }

    .footer-form {
        gap: 16px;
    }

    .footer-input {
        width: 216px;
    }

    .footer-end {
        gap: 772px;
    }

    .footer-agreement {
        line-height: 1.29;
        letter-spacing: -0.01em;
        width: 171px;
    }

    .footer-rights {
        line-height: 1.29;
        width: 134px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 100px;
    }

    .footer {
        background-image: url(../img/footer-background-desktop-1440@2x.png);
        width: 100%;
    }

    .footer-links {
        gap: 100px;
        margin-left: 341px;
        margin-right: 191px;
    }

    .footer-logo {
        margin-bottom: 25px;
    }

    .footer-svg {
        width: 123px;
        height: 16px;
    }

    .footer-social,
    .footer-menu {
        gap: 20px;
    }

    .footer-top {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 0;
    }

    .footer-form {
        gap: 16px;
    }

    .footer-input {
        width: 216px;
    }

    .footer-end {
        gap: 935px;
    }

    .footer-agreement {
        line-height: 1.29;
        letter-spacing: -0.01em;
        width: 171px;
    }

    .footer-rights {
        line-height: 1.29;
        width: 134px;
    }

}