/* .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
} */
.header {
  padding: 20px 0;
}
.header-logo {
  line-height: 0;
  fill: #fff;
}
.header-nav {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.header-nav-list {
  display: none;
}
.header-nav-item {
}
.header-nav-link {
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header-button-camera {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1d1d1d;
  fill: #bea69e66;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms ease-in-out;
}
.header-button-camera:hover,
.header-button-camera:focus {
  fill: #bea69e;
}
.header-icon-camera {
}
.header-button-menu {
  padding: 0;
  width: 32px;
  height: 22px;
  border: none;
  background: transparent;
  fill: #ffffff;
}
.header-button-sign-up {
  display: none;
}

/* MENU */
.backdrop {
  background: rgba(18, 18, 18, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
}
.mob-menu {
  background-color: #bea69e;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  max-width: 218px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  line-height: 0;
  fill: #121212;
}
.menu-nav-list {
  color: #121212;
  text-transform: uppercase;
  font-size: 14px;
  line-height: normal;
  /* margin-bottom: 114px;
  margin-left: 20px; */
}
.menu-nav-item:not(:last-child) {
  margin-bottom: 20px;
}
.menu-nav-link {
  transition: font-weight 250ms ease-in-out;
}
.menu-nav-link:focus,
.menu-nav-link:hover {
  font-weight: 700;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media screen and (min-width: 320px) {
  .header-nav {
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-button-close {
    padding: 7px;
  }
  .menu-nav-list {
    padding-top: 180px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  /* .container {
    max-width: 768px;
  } */
  .header-container {
    display: flex;
    gap: 14px;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    padding-bottom: 40px;
  }
  .header-icon-logo {
    width: 123px;
    height: 16px;
  }
  .header-button-menu {
    width: 40px;
    height: 28px;
  }
  .header-icon-menu {
    width: 40px;
    height: 28px;
  }
  .header-button-camera {
    display: none;
  }
  .header-button-sign-up {
    display: inline-flex;
    border-radius: 12px;
    background-color: #fff;
    width: 186px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55;
    color: #121212;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  }
  .header-button-sign-up:hover,
  .header-button-sign-up:focus {
    background-color: #1d1d1d;
    color: #bea69e;
  }
  .header-nav {
    height: 60px;
  }
  .mob-menu {
    max-width: 480px;
  }
  .menu-button-close {
    padding: 9px;
  }
  .meno-icon-close {
    width: 22px;
    height: 22px;
  }
  .menu-nav-list {
    padding-top: 232px;
    padding-left: 64px;
  }
  .menu-nav-item:not(:last-child) {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1280px) {
  /* .container {
    max-width: 1110px;
  } */
  .header-container {
    gap: 20px;
  }
  .header {
    padding-bottom: 80px;
  }
  .header-nav {
    padding-right: 50px;
    padding-left: 50px;
  }
  .header-nav-list {
    display: flex;
    gap: 28px;
    text-transform: uppercase;
    font-size: 14px;
  }
  .header-nav-item {
    line-height: normal;
    transition: font-weight 250ms ease-in-out, color 250ms ease-in-out;
  }
  .header-nav-item:hover,
  .header-nav-item:focus {
    color: #bea69e;
    font-weight: 700;
  }
  .header-buttons {
    display: none;
  }
  .header-button-sign-up {
    width: 238px;
  }
}

@media screen and (min-width: 1440px) {
  .header-nav-list {
    gap: 40px;
  }
}
