.hero {
}

.container {
    max-width: 335px;
    background-color: #1D1D1D;
    padding-top: 20px;
    border-radius: 30px;
}

.hero-title {
    width: 295px;
    color: #FFF;
font-size: 40px;
font-weight: 500;
line-height: 1.10;
letter-spacing: -0.001em;
margin: 40px 20px;
}

.hero-title span {
    color: #BEA69E;
font-size: 40px;
font-style: italic;
font-weight: 400;
line-height: 1.10;
letter-spacing: -0.001em;
}

.hero-text {
    width: 295px;
    color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.02em;
margin-left: 20px;
margin-right: 20px;
}

.container-hero-users {
    width: 253px;
    height: 84px;
    display: flex;
    margin-top: 40px;
    gap: 4px 40px;
    margin-bottom: 31px;
}

.hero-student {
    width: 109px;
    height: 44px;
    flex-shrink: 0;
    margin-left: 20px;
}

.hero-users-list {
    display: inline-flex;
}

.hero-student-item {
    display: inline-flex;
    width: 89px;
    height: 36px;
    align-items: center;
}

.images {
display: flex;
}

.images .hero-img {
    position: relative;
    margin-right: -10px;
}

.one {
    z-index: 2;
}

.two {
    z-index: 1;
}

.hero-users-text {
    width: 67px;
    color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.04em;
}

.hero-img {
    width: 44px;
height: 44px;
flex-shrink: 0;
background-color: #1D1D1D;
}

.hero-student-list {
    display: inline-flex;
}

.hero-student-link {
}

.hero-item-arrow {
    fill: #FFFFFF;
}

.hero-reviews {
    width: 104px;
    height: 44px;
    display: flex;
    align-items: center;
}

.hero-reviews-list {
    width: 109px;
    height: 44px;
}

.hero-reviews-item {
    display: inline-flex;
    width: 104px;
    height: 44px;
    align-items: center;
    gap: 12px;
}

.hero-reviews-text {
    color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.04em;
}

.hero-reviews-static {
    color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.12;
letter-spacing: -0.04em;
}

.hero-rectangle {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
background: #BEA69E;
}

.hero-item-star {
}

.hero-picture-list {
    position: relative;
    width: 100%;
    height: 314px;
    display: flex;
    align-items: end;
    justify-content: center;
}


.hero-picture-item {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
}

.hero-rectangle-img {
}

.hero-texts {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .container {
        max-width: 704px;
    }

    .hero-title {
        width: 517px;
        color: #FFF;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -0.001em;
    margin: 64px 32px;
    }

    .hero-title span {
        color: #BEA69E;
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.06;
    letter-spacing: -0.001em;
    }

    .hero-text {
        width: 418px;
        color: #FFF;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
    margin-left: 32px;
    margin-right: 20px;
    }

    .container-hero-users {
        width: 390px;
        height: 56px;
        display: inline-flex;
        gap: 40px;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .hero-student {
        width: 231px;
        height: 56px;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-left: 32px;
    }

    .hero-users-list {
        display: inline-flex;
    }

    .hero-student-item {
        width: 89px;
        height: 36px;
    }

    .images {
        display: flex;
    }

    .images .hero-img {
        position: relative;
        margin-right: -10px;
    }

    .one {
        z-index: 2;
    }
    
    .two {
        z-index: 1;
    }

    .hero-users-text {
        width: 67px;
        color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.04em;
    }

    .hero-img {
        width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-color: #1D1D1D;
    }

    .hero-student-item {
        display: flex;
        height: 56px;
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-student-link {
        width: 18px;
        height: 8.66px;
        flex-shrink: 0;
    }

    .hero-item-arrow {
        fill: #FFFFFF;
    }
    
    .hero-reviews {
        width: 104px;
        height: 44px;
        display: flex;
        align-items: center;
    }
    
    .hero-reviews-list {
        width: 109px;
        height: 44px;
    }
    
    .hero-reviews-item {
        display: inline-flex;
        width: 104px;
        height: 44px;
        align-items: center;
        gap: 12px;
    }
    
    .hero-reviews-text {
        color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.04em;
    }
    
    .hero-reviews-static {
        color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.04em;
    }
    
    .hero-rectangle {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    background: #BEA69E;
    }
    
    .hero-picture-list {
        position: relative;
        width: 100%;
        height: 314px;
        display: flex;
        align-items: end;
        justify-content: center;
    }
    
    
    .hero-picture-item {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
    }
    
    .hero-texts {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
        max-width: 1280px;
    }

    .hero-title {
        width: 563px;
        color: #FFF;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -0.001em;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    }

    .hero-title span {
        color: #BEA69E;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.06;
    letter-spacing: -0.001em;
    }

    .hero-text {
        width: 418px;
        color: #FFF;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 136px;
    }

    .container-hero-users {
        width: 390px;
        height: 56px;
        display: inline-flex;
        gap: 40px;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .hero-student {
        width: 231px;
        height: 56px;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-left: 50px;
    }

    .hero-users-list {
        display: inline-flex;
    }

    .hero-student-item {
        width: 89px;
        height: 36px;
    }

    .images {
        display: flex;
    }

    .images .hero-img {
        position: relative;
        margin-right: -10px;
    }

    .one {
        z-index: 2;
    }
    
    .two {
        z-index: 1;
    }

    .hero-users-text {
        width: 67px;
        color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.04em;
    }

    .hero-img {
        width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-color: #1D1D1D;
    }

    .hero-student-item {
        display: flex;
        height: 56px;
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-student-link {
        width: 18px;
        height: 8.66px;
        flex-shrink: 0;
    }

    .hero-item-arrow {
        fill: #FFFFFF;
    }
    
    .hero-reviews {
        width: 104px;
        height: 44px;
        display: flex;
        align-items: center;
    }
    
    .hero-reviews-list {
        width: 109px;
        height: 44px;
    }
    
    .hero-reviews-item {
        display: inline-flex;
        width: 104px;
        height: 44px;
        align-items: center;
        gap: 12px;
    }
    
    .hero-reviews-text {
        color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.04em;
    }
    
    .hero-reviews-static {
        color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.04em;
    }
    
    .hero-rectangle {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    background: #BEA69E;
    }
    
    .hero-picture-list {
        width: 397px;
        height: 520px;
    }
    
    
    .hero-picture-item {
    }

    .hero-rectangle-5 {
        display: flex;
        flex-wrap: wrap;
        float: right;
    }
    
    .hero-texts {
        display: flex;
        flex-direction: column;
    }

    .hero-rectangle-img {
        width: 397px;
        height: 520px;
    }
}