.our-mentors {
  padding-top: 80px;
}
.our-mentors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

.our-mentors-title {
  width: 155px;
  margin-bottom: 40px;
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
.logo-span {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
.our-mentors-hero {
  background-color: #121212;
  width: 185px;
}
.our-mentors-img {
  border-radius: 50%;
  margin: 0 auto;
}
.container-our-mentors {
  margin-top: 16px;
}

.our-mentors-hero-name {
  text-align: center;
  margin-bottom: 4px;
  color: #fff;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
.our-mentors-hero-proff {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

/*********Media************/

@media screen and (min-width: 375px) and (max-width: 767px) {
  /* .container {
    min-width: 335px;
    padding-left: 20px;
    padding-right: 20px;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .our-mentors-title {
    width: 266px;
    margin-bottom: 50px;
    color: #fff;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: 0.04em;
  }
  .logo-span {
    color: #bea69e;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12px;
    letter-spacing: -0.01em;
  }
  .our-mentors-list {
    gap: 96px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container-our-mentors {
    margin-top: 16px;
  }
  .our-mentors-hero {
    width: calc((100% - 24px) / 2);
    max-width: 194px;
  }
  .our-mentors-img {
    display: block;
    margin: 0 auto;
  }
  .our-mentors-hero-name {
    font-size: 28px;
    line-height: 1.14;
  }
  .our-mentors-hero-proff {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .our-mentors-list {
    gap: 100px;
  }

  .our-mentors-hero {
    width: 180px;
  }
  .our-mentors-list li:nth-child(3) {
    width: 194px;
  }

  .our-mentors-hero-name {
    font-size: 28px;
    line-height: 1.14;
  }
  .our-mentors-hero-proff {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
  }
  .our-mentors-title {
    width: 266px;
    margin-bottom: 50px;
    color: #fff;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: 0.04em;
  }
  .logo-span {
    color: #bea69e;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12px;
    letter-spacing: -0.01em;
  }
}

@media screen and (min-width: 1440px) {
  .our-mentors-list {
    gap: 100px;
  }
  .our-mentors-hero {
    width: 180px;
  }
  .our-mentors-hero-name {
    font-size: 28px;
  }
  .our-mentors-hero-proff {
    font-size: 14px;
    line-height: 1.28;
  }
  .our-mentors-list li:nth-child(3) {
    width: 194px;
  }
  .our-mentors-pic {
    width: 180px;
    height: 180px;
  }
  .our-mentors-title {
    width: 266px;
    margin-bottom: 50px;
    color: #fff;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: 0.04em;
  }
  .logo-span {
    color: #bea69e;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12px;
    letter-spacing: -0.01em;
  }
}
