@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .section {
    padding-top: 80px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 100px;
  }

  .section {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* ////// */

.courses-title {
  font-weight: 500;
  text-align: left;
}

.courses-title-span {
  color: #bea69e;
}

/*
.courses-text {
  letter-spacing: -0.01em;
}
*/

.courses-list {
  display: flex;
  gap: 20px;
}

.courses-item {
  counter-increment: my-counter;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  position: relative;
  display: block;
}

.courses-item::before {
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.29;
  letter-spacing: -0.02em;
  font-family: inherit;
  content: counter(my-counter, decimal-leading-zero) ' ';
  position: absolute;
  width: 14px;
  height: 18px;
}

.courses-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.courses-item-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
}

.courses-item-text {
  color: rgba(255, 255, 255, 0.5);
}

.courses-item-icon-wrapper {
  display: flex;
  justify-content: flex-end;
}

.courses-item-icon-box {
  width: 32px;
  height: 32px;
}

.courses-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1d1d1d;
  width: 100%;
  height: 100%;
  transition: background-color 250ms ease-in-out;
}

.courses-item-link:hover {
  background-color: #bea69e;
}

.courses-item-icon {
  fill: #777777;
  transition: fill 250ms ease-in-out;
}

.courses-item-link:hover .courses-item-icon {
  fill: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .courses-title-wrapper {
    margin-bottom: 40px;
  }

  .courses-title {
    font-size: 28px;
    line-height: 1.14;
    margin-bottom: 20px;
    letter-spacing: -0.03em;
  }

  .courses-text {
    line-height: 1.29;
    letter-spacing: -0.02em;
  }

  .courses-list {
    flex-direction: column;
  }

  .courses-item {
    padding: 28px;
    height: 398px;
  }

  .courses-item-icon-wrapper {
    max-width: 279px;
  }

  .courses-item-wrapper {
    max-width: 279px;
    height: 310px;
  }

  .courses-item-title {
    margin-top: 28px;
  }
  .courses-item-text{
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 768px) {
  .courses-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  .courses-title {
    font-size: 48px;
    line-height: 1.13;
    margin-bottom: 0;
    width: 265px;
  }

  .courses-text {
    line-height: 1.25;
  }

  .courses-item {
    height: 452px;
    padding: 31px;
  }

  .courses-item-wrapper {
    height: 356px;
  }

  .courses-item-title {
    margin-top: 32px;
    width: 265px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .courses-text {
    max-width: 381px;
    letter-spacing: -0.01em;
  }
  .courses-title {
    letter-spacing: 0.01em;
  }

  .courses-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .courses-item {
    width: calc((100% - 20px) / 2);
  }

  .courses-item-wrapper {
    width: 278px;
  }
  .courses-item-text {
    line-height: 1.25;
  }

}

@media screen and (min-width: 1280px) {
  .courses-item {
    width: calc((100% - 40px) / 3);
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .courses-item-wrapper {
    width: 283px;
  }
  .courses-item-text {
    letter-spacing: -0.03em;
  }
  .courses-text {
    max-width: 405px;
    letter-spacing: -0.02em;
  }
  .courses-title{
    letter-spacing: 0.01em;
  }
    
}

@media screen and (min-width: 1440px) {
  .courses-title {
    letter-spacing: 0.01em; 
  }
  .courses-text {
    max-width: 565px;
    letter-spacing: -0.02em;
  }
  .courses-item-text {
    letter-spacing: 0.04em;
    line-height: 1.14; 
  }
  .courses-item-wrapper {
    width: 336px;
  }
}
