/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


body {
  background-color: #121212;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}

ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

input {
  font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.background-header-hero {
  background-image: url(/img/header-hero-background-desktop1440@1x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .title-main-section {
    background-image: url(/img/header-hero-background-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .title-main-section {
    background-image: url(/img/header-hero-background-tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .title-main-section {
    background-image: url(/img/header-hero-background-desktop1440@2x.png);
  }
}


